.container
{
    display: flex;
    flex-direction: column;
   gap: 20px;
   background-color: #EAF8FF;
   padding: 20px;
  
}

.TwoBoxOneBlock
{
    display: grid;
    grid-template-columns: auto auto;
   
    gap:20px ;

}

div
{
    width: 100%;
}
.outerBox
{
    width: 60vw;
    display: flex;
    padding: 0px 250px;
    
}

.inputField
{
    width: 100%;
}

input ,select{
    border-radius: 10px;
    height: 40px;
    outline: none;
    border: 1px solid black;
    
    color: black;
    
}

.heading
{
    text-align: center;
}