/* #bulb1
{
    height:100px;
    width:100px;
    border: 1px solid black;
    border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

} */

/* body{
    background-color: black;
}

.Contentbox,.buttonBox
{
    border:2px solid black;
}


.Contentbox
{
    width:600px;
    height :150px;
}
.buttonBox
{
    height :150px;
}
.outerBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;;
}

#color1
{
    background-color: red;
}
#color2
{
    background-color:green
}

#color3
{
    background-color: skyblue;
}

.outerDiv
{
    display: flex;
    gap: 8px;
}

#color1,#color2,#color3
{
    height: 40px;
    width: 40px;
} */

#FullName{

    margin-top: 15px;
    margin-left: 15px;
}
