
*
{
    margin:0;
    padding:0;
    
}
/* .outerBox
{

} */

.card
{


    width: auto;
    max-width: 500px;
    height: 500px;
    margin: 100px auto;
   background: linear-gradient(135deg,pink,#ffff,orange);
    border-radius: 30px;
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
   
   padding: 20px 30px;
}
.header
{
    text-align: center;
}
select{


    border-radius: 5px;
    height: 30px;
    
}
.countryBox
{

    display: flex;
    
    
  
   gap: 40px;
}
#amountInput
{
    display: none;
}

input{

    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    height: 30px;
    text-align: center;
}

img
{
    margin-left: 50px;
}
#calculateButton
{
    display :none;
    background-color:#0d6efd ;
    opacity:90% ;
    border-radius: 5px;
    height: 40px;
    width: 100px;
   color: #ffff;
    box-shadow:3px 5px #363535
    
}

#calculateButton:active{
    box-shadow: none;
    transform: translate(0px,5px);
     transition: box-shadow 0.1s linear;
    transition: transform 0.1s linear;
}

#resultDisplay 
{

    
  
    color: black;

}
