.main
{
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.CalcDisplay
{
    height: 25%;
    width: 400px;
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #d1e7dd;
    overflow: hidden;
    
}

#result
{
    overflow: hidden;
}
.CalcKeyBoard
{
    display: grid;
    padding: 5px 10px;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 74%;
    width: 400px;
    background-color: pink;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.CalcOuter
{
    border-radius: 20px;
     width: auto;
     height: 630px;
     padding: 8px 8px;
    
}

.CalcButton
{
    border-radius: 70%;
    outline: none;
    border: none;
}

#EqualButton
{
    
    background-color:green;
    opacity: 90%;
    grid-column: span 2;
    border-radius: 60px;
    border: none;

    
}